[submodule "src/3rdparty/spdlog"]
	path = src/3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "src/3rdparty/glfw"]
	path = src/3rdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "src/3rdparty/glm"]
	path = src/3rdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "src/3rdparty/volk"]
	path = src/3rdparty/volk
	url = https://github.com/zeux/volk.git
[submodule "src/3rdparty/glslang"]
	path = src/3rdparty/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "src/3rdparty/assimp"]
	path = src/3rdparty/assimp
	url = https://github.com/assimp/assimp
[submodule "src/3rdparty/entt"]
	path = src/3rdparty/entt
	url = https://github.com/skypjack/entt.git
[submodule "src/3rdparty/imgui"]
	path = src/3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "src/3rdparty/stb"]
	path = src/3rdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "src/3rdparty/SPIRV-Cross"]
	path = src/3rdparty/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
