#pragma once

#include "core/reflect/macros.h"

#include <cstdint>
#include <string>

namespace Meow
{
    enum class EnumName : UnderlyingType;

    EnumName to_enum(const std::string& str);

    const std::string to_string(EnumName enum_val);
} // namespace Meow
